#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        // ===== Layer 0: Base =====
        base {
            // -----------------------------------------------------------------------------------------
            // |       |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |   P  |
            // |       |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |   ;  |
            // |       |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |       
            //                | LCTRL | LWR | SPC |   | ENT | RSE | ALT |
            bindings = <
                &trans  &kp Q &kp W &kp E &kp R &kp T    &kp Y &kp U &kp I &kp O &kp P &trans
                &trans  &kp A &kp S &kp D &kp F &kp G    &kp H &kp J &kp K &kp L &kp SEMI &trans
                &trans  &kp Z &kp X &kp C &kp V &kp B    &kp N &kp M &kp COMMA &kp DOT &trans
                         &sk LCTRL &mo 1 &kp SPACE        &kp RET &mo 2 &kp RALT
            >;
        };f
wk
        // ===== Layer 1: Numbers =====
        numbers {
            // -----------------------------------------------------------------------------------------
            // |       |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |       |
            // |       |     |     |     |     |     |   |     |     |     |     |       |
            // |       |     |     |     |     |     |   |     |     |     |     |       |
            //                | GUI |     | SPC |   | ENT |     | DEL |
            bindings = <
                &trans  &kp N1 &kp N2 &kp N3 &kp N4 &kp N5    &kp N6 &kp N7 &kp N8 &kp N9 &trans
                &trans  &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans
                &trans  &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans
                         &sk LGUI &trans &kp SPACE           &kp RET &trans &kp DEL
            >;
        };

        // ===== Layer 2: Pedro =====
        pedro {
            // -----------------------------------------------------------------------------------------
            // |       |     |     |     |     |     |   |     |     |     |     |       |
            // |       |     |     |     |     |     |   | LFT | DWN |  UP | RGT |       |
            // | BTCLR | BTPR| BTNX|     |     | STD |   |     |     |     |     |       |
            //                | SHFT|     | SPC |   | ENT |     | ALT |
            bindings = <
                &trans  &trans &trans &trans &trans &trans                &trans &trans &kp UP &trans &trans &trans
                &trans  &trans &trans &trans &trans &trans                &trans &kp LEFT &kp DOWN  &kp RIGHT &trans &trans
                &bt BT_CLR &bt BT_PRV &bt BT_NXT &trans &trans &studio_unlock    &trans &trans &trans &trans &trans &trans
                         &sk LSHFT &trans &kp SPACE          &kp RET &trans &kp RALT
            >;
        };

        // ===== Combos =====
        combos {
            compatible = "zmk,combos";
            combo_studio_unlock {
                timeout-ms = <50>;
                key-positions = <0 11>; // Top-left + top-right
                bindings = <&studio_unlock>;
            };
        };
    };
};
